@import "./mixins.scss";
@import "./variables.scss";
// Globals
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
main,
section,
aside {
  display: block;
}
input[type="submit"] {
  cursor: pointer;
}
.error_message{
  text-align: center;
}
.see_more {
  margin: 8px auto;
  padding: 0.5rem;
  background-color: #fff;
  color: $brown;
  text-decoration: none;
  border: 2px solid $brown;
  border-radius: 4px;
  font-weight: 700;
}
.title {
  font-weight: 400;
  color: $brown;
}
#menu{
  cursor: pointer;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}
main {
  min-height: 52vh;
}
footer {
  background-color: #000000;
  color: #fff;
  user-select: none;

  #quick_links {
    background-color: rgb(73, 5, 5);
    color: #fff;
    display: flex;
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;
      padding-bottom: 3rem;
      width: 95%;
      position: relative;
      .links_wrapper {
        display: flex;
      }
      a {
        color: #fff;
        text-decoration: none;
        line-height: 2rem;
      }
      a:hover,
      a:focus {
        text-decoration: underline;
      }
      #company_links,
      #users_links,
      #newsletter,
      #other_links {
        display: flex;
        flex-direction: column;
        padding-right: 8px;
      }
      #newsletter {
        height: max-content;
        h1 {
          margin-top: 0;
        }
        input {
          margin-bottom: 1rem;
          padding: 0.5rem;
          border: none;
          border-radius: 4px;
          outline: none;
        }
        @media (max-width: 650px) {
          border-bottom: 2px solid grey;
        }
      }
      @media (max-width: 650px) {
        & {
          flex-direction: column-reverse;
        }
      }
    }
  }
  #copyright {
    text-align: center;
    padding: 0.5rem;
  }
}
.container {
  margin-left: 2rem;
  margin-right: 2rem;
}
nav {
  height: 10vh;
  display: flex;
  background-color: red;
  background-color: $brown;
  .nav {
    display: flex;
    align-items: center;
    color: #ffffff;
    width: 100%;
    #site-title {
      display: inline;
      flex: 1;
      font-size: larger;
      font-weight: 600;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }
  ul {
    flex: 1;
    text-align: right;
    list-style-type: none;
    li {
      padding: 1rem;
      display: inline;
      .link {
        padding: 1rem;
        color: #ffffff;
        text-decoration: none;
      }
      .link:hover {
        text-decoration: underline;
      }
    }
    #join {
      position: relative;
      display: inline;
      background-color: #fff;
      color: $brown;
      padding: 0.5rem;
      border-radius: 4px;
      font-weight: 500;
      .dropdown-content {
        position: absolute;
        display: none;
        width: 100px;
        top: 2.1rem;
        right: 0;
        background-color: #fff;
        z-index: 2;

        a {
          color: #111;
          line-height: 2rem;
          text-decoration: none;
          padding: 0.5rem;
        }
        a:hover,
        a:focus {
          background-color: $brown;
          color: #fff;
        }
      }
    }
    #join:hover .dropdown-content {
      display: flex;
      flex-direction: column;
    }
    #join:focus .dropdown-content {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 650px) {
      & {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: #111;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        #cancelMenu {
          text-align: left;
          padding-left: 24px;
          width: 100%;
          a {
            text-decoration: none;
            color: #fff;
            font-size: 32px;
          }
        }
        #join{
          display: none;
        }
      }
    }
  }
  @media (min-width: 650px) {
    #menu {
      display: none;
    }
  }
}

// home page
#header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/banner.jpg");
  background-color: rgb(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;

  form {
    display: flex;
    justify-content: space-around;
    width: 100%;

    input {
      padding: 0.5rem;
      outline: none;
      border: none;
      border-radius: 2px;
    }
    input[type="text"] {
      width: 90%;
    }
    input[type="submit"] {
      background-color: $brown;
      color: white;
      margin-left: 4px;
      text-transform: uppercase;
      width: 90%;
    }
  }
  #banner-intro {
    color: #ffffff;
    text-transform: capitalize;
    line-height: 0.2rem;
  }
  @media (max-width: 600px) {
    form {
      width: 90%;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      input {
        width: 100%;
      }
      input[type="submit"] {
        margin: 0px;
        width: 100%;
      }
    }
    #banner-intro {
      font-size: 0.8em;
      text-align: center;
    }
  }
  #slogan {
    text-align: center;
    color: #ffffff;
    line-height: 2rem;
  }
  #slogan::after,
  #slogan::before {
    content: "~";
  }
}
#latest_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  .title {
    margin: auto;
    padding: 1rem;
  }
  .jobs {
    display: flex;
    justify-content: space-between;
    .latest_job {
      box-shadow: 0px 0px 4px #5f5e5e;
      width: 24%;
      border-radius: 8px;
      margin: 8px;
      padding: 8px;
      .image {
        background-color: #e2e2e2;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 8px auto;
      }
    }
  }
  @media (max-width: 700px) {
    & {
      .jobs {
        flex-direction: column;
        align-items: center;
        .latest_job {
          width: 100%;
        }
      }
    }
  }
}
#post_or_join {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  #post_job {
    background-color: $brown;
    margin: 4px;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    h1 {
      font-weight: 400;
      color: #fff;
    }
    #post_link {
      color: $brown;
      font-weight: 700;
      background-color: #fff;
      border-radius: 2px;
      text-decoration: none;
      padding: 1rem;
    }
    #post_link:hover,
    #post_link:focus {
      background-color: $brown;
      color: white;
      border: 1px solid white;
      animation-timing-function: ease-in-out;
      transition-duration: 500ms;
    }
  }
  #create_account {
    margin: 4px;
    width: 100%;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 2px #111111;
    text-align: center;
    h1 {
      font-weight: 400;
      color: #111;
    }
    #create_link {
      color: #fff;
      font-weight: 700;
      background-color: $brown;
      border-radius: 2px;
      text-decoration: none;
      padding: 1rem;
    }
    #create_link:hover,
    #create_link:focus {
      color: #000000;
      background-color: #fff;
      border: 1px solid $brown;
      animation-timing-function: ease-in-out;
      transition-duration: 500ms;
    }
  }
  @media (max-width: 600px) {
    & {
      flex-direction: column;
    }
  }
}
#testimonials_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  .title {
    margin: auto;
    padding: 1rem;
  }
  .carousel {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
    padding: 2rem;
    margin: auto;
    margin-bottom: 1rem;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0px 0px 6px #111;
    user-select: none;

    #right-arr,
    #left-arr {
      height: 40px;
      position: absolute;
      top: 45%;
    }

    #left-arr {
      left: 0;
    }

    #right-arr {
      right: 0;
    }
  }

  .testimony {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 250px;

    .testimony-image {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
    }

    .testimony-text {
      width: 40%;
    }
    .testimony-text::before {
      content: open-quote;
      color: $brown;
      font-size: 50px;
      font-weight: 900;
    }

    .testimony-text::after {
      content: close-quote;
      color: $brown;
      display: block;
      float: right;
      font-size: 50px;
      font-weight: 900;
    }
  }
  @media (max-width: 600px) {
    & {
      width: 100%;
      .testimony {
        width: 100%;
        flex-direction: column;
        .testimony-image {
          width: 150px;
          height: 150px;
        }
        .testimony-text {
          width: 100%;
          &::after,
          &::before {
            font-size: small;
          }
        }
      }
    }
  }
}
// Candidates & Employers page
.candidates-page {
  display: flex;
  margin-top: 8px;
  @include searchField;
  .candidates-section {
    margin-left: 250px;
    .candidate {
      display: flex;
      min-width: 250px;
      margin-bottom: 8px;
      box-shadow: 0px 0px 2px #111111;
      padding: 0.5rem;
      .candidate_image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
      .candidate_details {
        align-self: center;
      }
    }
    .candidate:hover {
      transform: scale(1.025);
    }
  }
  .pagination {
    margin: 1.5rem;
    .pagination_link {
      padding: 4px;
      margin: auto 0.3rem;
      text-decoration: none;
      background-color: $brown;
      color: #fff;
    }
  }
  @media (max-width: 750px) {
    & {
      flex-direction: column;
      input[type="text"] {
        width: 90%;
      }
      input[type="submit"] {
        width: 96%;
      }
      .candidates-section {
        margin-left: 0px;
      }
    }
  }
}

// Profile page
.sub-menu {
  position: -webkit-sticky; /* needed for ios*/
  position: sticky;
  top: 0;
  background-color: #000000;
  width: 100%;
  box-shadow: 0px 0px 4px #111111;
  z-index: 1;
  text-align: center;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0.5rem;
      a {
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
      }
    }
  }
  @media(max-width: 800px){
    &{
      ul{
        li{
          padding: 6px 0px 6px 0px;
        }
      }
    }
  }
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightGrey;

  .profile-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #fff;
    width: 100%;
    .profile_pic {
      margin-top: 8px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: 0px 0px 2px $brown;
    }
    .profile_name {
      font-weight: 800;
      margin-bottom: 8px;
    }
  }
  .details_section {
    padding-bottom: 1rem;

    @include fadeInSubmit;
    @include inputFocus;
    legend {
      font-weight: 700;
      font-size: 24px;
      display: block;
      padding-top: 2.5rem;
      text-align: center;
    }
    label {
      font-size: larger;
    }
    input,
    textarea {
      padding: 0.3rem;
      margin: 8px 0px;
    }
    textarea,
    input[type="text"] {
      width: 90%;
    }
    input[type="submit"] {
      width: 91.5%;
    }
    p {
      padding-left: 2rem;
    }
    h1 {
      padding-top: 2.5rem;
    }
    h1::before {
      content: "#";
      color: $brown;
      opacity: 0.3;
      padding: 4px;
    }
    h1:hover::before {
      opacity: 0.8;
    }
    .testimonial_form, .job_post_form {
      display: flex;
      flex-direction: column;
    }
    // Desktop
    @media (min-width: 801px){
      &{
        width: 800px;
      }
     }
    //  Mobile
    @media (max-width: 801px){
      &{
        width: 100%;
        .testimonial_form, .job_post_form{
          input, textarea{
            align-self: center;
          }
          label{
            padding-left: 1rem;
          }
        }
      }
     }
  }
}
//profile_details page
#edit_details_form {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
  width: 500px;
  padding: 1rem;
  box-shadow: 0px 0px 8px rgb(197, 196, 196);

  label {
    font-weight: 600;
    span {
      font-weight: 400;
      display: block;
    }
  }
  input,
  textarea {
    padding: 0.5rem;
  }
  @include inputFocus;
  textarea {
    max-width: 96%;
    max-height: 200px;
  }
  @include fadeInSubmit;
  
  @media (max-width: 550px){
    &{
      width: 100vw;
      input, textarea{
        width: 80%;
      }
      input[type=submit]{
        width: 86%;
      }
    }
  }
}
